# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
ENV/
env/

# OS specific
.DS_Store
Thumbs.db

# IDE/Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other
*.log
*.tmp
*.temp.venv_wsl/
.venv_wsl/
